/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

[data-cell] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #222;
    color: #f1f1f1;
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

.bomb-container {
    margin-bottom: 20px;
}
.top-left {
    position: absolute;
    top: 20px; /* Adjust this value to control the vertical distance from the top */
    left: 20px; /* Adjust this value to control the horizontal distance from the left */
}

#backBtn {
    font-weight: bold;
    padding: 10px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #555;
    color: #f1f1f1;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    width: 50px;
    height: 50px;
    
}

#backBtn:hover {
    background-color: #444;
}
/* Money display styling */
.money-display {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #f1f1f1;
    text-align: center;
}

/* Game board container styling */
.game-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Game board styling for PC */
.game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 20px;
    margin: 0 auto;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    transform: scale(1.1);
    background-color: #444;
}

.cell.gameover {
    transform: scale(1);
}

.cell.win {
    background-color: #c4fdb2;
    transition: background-color 5s;
}

.cell.red {
    background-color: #fa6e6e;
    transition: background-color 5s;
}

.cell.red:hover {
    transform: scale(1);
}

.cell.blue {
    background-color: #6e83fa;
    transition: background-color 5s;
}

.cell.blue:hover {
    transform: scale(1);
}

/* Input and button styling */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#betAmount {
    padding: 10px;
    font-size: 1.5rem;
    width: 200px;
    border: none;
    background-color: #555;
    color: #f1f1f1;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-align: center;
}

#betAmount::placeholder {
    color: #ccc;
}

#betButton {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #555;
    color: #f1f1f1;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    width: 200px;
}

#betButton:hover,
#betAmount:focus {
    background-color: #444;
}

.mltplier-display {
    font-size: 2rem;
    margin-top: 30px;
    color: #f1f1f1;
    text-align: center;
}

.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.login-container button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #555;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
}

#loginMessage {
    color: red;
}

/* New styles for the left container, money display, and multiplier box */
.left-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
}

.info-box {
    display: flex;
    background-color: #333; /* Background color for the box */
    padding: 20px; /* Padding around the elements */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for a 3D effect */
}

.money-display {
    display: flex;
    flex-direction: column;
    color: #a4ff9c;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.2s;
}

.multiplier-box {
    display: flex;
    color: #ffffff;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.2s;
}

/* Mobile-Specific Styling */
@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(5, 60px); /* 5 columns */
        grid-gap: 10px; /* Smaller gap between cells */
    }

    .cell {
        width: 60px;
        height: 60px;
        font-size: 1.5rem; /* Adjust font size for smaller cells */
    }

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 33%;
        top: -10%; /* Change from 90% to 0% to move it to the top */
    }

    .info-box {
        flex-direction: column;
        display: flex;
        background-color: #333; /* Background color for the box */
        padding: 20px; /* Padding around the elements */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for a 3D effect */
    }
    
    .money-display {
        display: flex;
        color: #a4ff9c;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
        transition: background-color 0.2s;
    }
    
    .multiplier-box {
        display: flex;
        color: #ffffff;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
        transition: background-color 0.2s;
    }

