/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

[data-cell] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #222;
    color: #f1f1f1;
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

.bomb-container {
    margin-bottom: 20px;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

#backBtn {
    font-weight: bold;
    padding: 10px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #555;
    color: #f1f1f1;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    width: 50px;
    height: 50px;
}

#backBtn:hover {
    background-color: #444;
}

/* Money and multiplier display styling */
.money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px; /* Adjust this value to control vertical position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.money-display {
    font-size: 3rem;
    color: #a4ff9c;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.multiplier-box {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

/* Game board container styling */
.game-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* Adjust this value to control distance from the top */
}

/* Game board styling for PC */
.game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 20px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    transform: scale(1.1);
    background-color: #444;
}

.cell.gameover {
    transform: scale(1);
}

.cell.win {
    background-color: #c4fdb2;
    transition: background-color 5s;
}

.cell.red {
    background-color: #fa6e6e;
    transition: background-color 5s;
}

.cell.red:hover {
    transform: scale(1);
}

.cell.blue {
    background-color: #6e83fa;
    transition: background-color 5s;
}

.cell.blue:hover {
    transform: scale(1);
}

/* Input and button styling */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#betAmount {
    padding: 10px;
    font-size: 1.5rem;
    width: 200px;
    border: none;
    background-color: #555;
    color: #f1f1f1;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

#betButton {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #555;
    color: #f1f1f1;
    border: none;
    border-radius: 8px;
    width: 200px;
    transition: background-color 0.2s;
}

#betButton:hover,
#betAmount:focus {
    background-color: #444;
}

/* Mobile-Specific Styling */
@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(5, 60px);
        grid-gap: 10px;
    }

    .cell {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    .money-container {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
    }

    .money-display {
        font-size: 2rem;
    }

    .multiplier-box {
        font-size: 1.5rem;
    }
}
